.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 2000;
}

.popup__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.popup__container {
    position: relative;
    max-width: 600px;
    padding: 40px;
    background: #8e2222;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    background: none;
    border: none;
}

.popup_open {
    display: flex;
}
